<div class="container">
	<h1>Administration</h1>
	<div>
		<p><%= @tables.count %> tables <a href=""><span class="glyphicon glyphicon-plus"></span></a></p>
		<p><%= @menus.count %> menus</p>
		<p><%= @articles.count %> articles</p>
		<p><%= @categories.count %> catégories</p>
	</div>
</div>