<div class="modal fade" id="modalAddCodeManually" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content" style="text-align: center;">
			<textarea id="write" rows="6" cols="60"></textarea>
			<ul id="keyboard">
				<li class="symbol">1</li>
				<li class="symbol">2</li>
				<li class="symbol">3</li>
				<li class="symbol">4</li>
				<li class="symbol">5</li>
				<li class="symbol">6</li>
				<li class="symbol">7</li>
				<li class="symbol">8</li>
				<li class="symbol">9</li>
				<li class="symbol">0</li>
				<li class="letter">A</li>
				<li class="letter">B</li>
				<li class="letter">C</li>
				<li class="letter">D</li>
				<li class="letter">E</li>
				<li class="letter">F</li>
				<li class="letter">G</li>
				<li class="letter">H</li>
				<li class="letter">I</li>
				<li class="letter">J</li>
				<li class="letter">K</li>
				<li class="letter">L</li>
				<li class="letter">M</li>
				<li class="letter">N</li>
				<li class="letter">O</li>
				<li class="letter">P</li>
				<li class="letter">Q</li>
				<li class="letter">R</li>
				<li class="letter">S</li>
				<li class="letter">T</li>
				<li class="letter">U</li>
				<li class="letter">V</li>
				<li class="letter">W</li>
				<li class="letter">X</li>
				<li class="letter">Y</li>
				<li class="letter">Z</li>
				<li class="delete">Delete</li>
				<li class="enter" data-dismiss="modal">Enter</li>
			</ul>
		</div>
	</div>
</div>	
<script>
var table_detail_line = "<tr><td><button type='button' class='btn btn-default btn-lg' onclick='duplicateLineNote(this)'><span class='glyphicon glyphicon-duplicate' aria-hidden='true'></span></button></td><td><button type='button' class='btn btn-default btn-lg' onClick='removeLineNote(this)'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></td><td class='table_note_code'>%CODE%</td><td>%NOM%</td><td class='table_note_price'>%PRIX%</td><td><button type='button' class='btn btn-default btn-lg' onclick='addNotice()'><span class='glyphicon glyphicon glyphicon-plus' aria-hidden='true'></span></button>%NOTE%</td><td>%ETAT%</td></tr>";

$(function(){
	var $write = $('#write');
	
	$('#keyboard li').click(function(){
		var $this = $(this),
			character = $this.html(); 
		
		// Delete
		if ($this.hasClass('delete')) {
			var html = $write.html();
			
			$write.html(html.substr(0, html.length - 1));
			return false;
		}
		
		// Enter
		if ($this.hasClass('enter')) {
			var code = $write.html();
			$write.html("");
			$.ajax({
				async: false,
				url: "/front/get_code/"+code,
				type: "GET",
				success : function(data) {
					if (data["success"]){
						var line = table_detail_line.replace('%CODE%', data["code"]);
						line = line.replace('%NOM%', data["name"]);
						line = line.replace('%PRIX%', data["price"] / 100 + ' €');
						line = line.replace('%NOTE%', '');
						line = line.replace('%ETAT%', '');
						$("#table_detail_note").append(line);
						updateSum();
					}
				}
			});
			return code;

		}

		// Add the character
		$write.html($write.html() + character);
	});
});

</script>