<div class="modal fade" id="modalPaiement" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content" style="text-align: center;">
			<textarea id="write_paiement" rows="6" cols="60"></textarea>
			<input type="text" name="hide_paiementIndex" id="hide_paiementIndex" style="display:none;" value=""/>
			<ul id="keyboard_paiement">
				<li class="symbol">1</li>
				<li class="symbol">2</li>
				<li class="symbol">3</li>
				<li class="symbol">4</li>
				<li class="symbol">5</li>
				<li class="symbol">6</li>
				<li class="symbol">7</li>
				<li class="symbol">8</li>
				<li class="symbol">9</li>
				<li class="symbol">0</li>
				<li class="symbol">.</li>
				<li class="delete">Delete</li>
				<li class="enter" data-dismiss="modal">Enter</li>
			</ul>
		</div>
	</div>
</div>	

<script>
$(function(){
	var $write_paiement = $('#write_paiement');
	
	$('#keyboard_paiement li').click(function(){
		var $this = $(this),
			character = $this.html(); 
		
		// Delete
		if ($this.hasClass('delete')) {
			var html = $write_paiement.html();
			
			$write_paiement.html(html.substr(0, html.length - 1));
			return false;
		}
		
		// Enter
		if ($this.hasClass('enter')) {
			var money = $write_paiement.html();
			if(!isNaN(parseFloat(money))){
				var rowIndex=document.getElementById('hide_paiementIndex').value;
				$("#Table_Paiement tbody tr:eq("+rowIndex+") td:eq(0)").text(money+"€");
				$write_paiement.html("");
				var remain_due=resteAPayer();
				if (remain_due >= 0){
					$("#Table_Paiement tfoot tr:eq(1) th:eq(1)").text(remain_due+" €");
					$("#Table_Paiement tfoot tr:eq(2) th:eq(1)").text("0 €");
				} else {
					$("#Table_Paiement tfoot tr:eq(2) th:eq(1)").text(-remain_due+" €");
					$("#Table_Paiement tfoot tr:eq(1) th:eq(1)").text("0 €");
				}
				if(remain_due > 0 ){
					var paiement_table_body = document.getElementById("Table_Paiement").getElementsByTagName('tbody')[0];
					var PaiementRow = paiement_table_body.insertRow(paiement_table_body.rows.length);
					var montant = PaiementRow.insertCell(0);
					montant.setAttribute("class","paiement");
					var mode = PaiementRow.insertCell(1);
					var total = remain_due;
					var mode_paiement = document.getElementById("payment_type_select").cloneNode(true);
					montant.innerHTML = total+" €";
					mode.appendChild(mode_paiement);
					var remain_due=resteAPayer();
					$("#Table_Paiement tfoot tr:eq(1) th:eq(1)").text(remain_due+" €");
				}
			}	
			return money;
		}

		// Add the character
		$write_paiement.html($write_paiement.html() + character);
	});
});

</script>