<div class="modal fade" id="modalPaiement" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content" style="text-align: center;">
			<textarea id="write" rows="6" cols="60"></textarea>
			<ul id="keyboard">
				<li class="symbol">1</li>
				<li class="symbol">2</li>
				<li class="symbol">3</li>
				<li class="symbol">4</li>
				<li class="symbol">5</li>
				<li class="symbol">6</li>
				<li class="symbol">7</li>
				<li class="symbol">8</li>
				<li class="symbol">9</li>
				<li class="symbol">0</li>
				<li class="delete">Delete</li>
				<li class="enter" data-dismiss="modal">Enter</li>
			</ul>
		</div>
	</div>
</div>	