<div class="modal fade" id="notice-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Info au chef</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul>
				<% Notice.find_each do |notice|%>
					<li><img onclick="addNoticeToEntry('<%=notice.description%>')" height="75px" width="75px" src="<%=notice.image%>" onerror="this.src='../../assets/chili_pepper_200x200.png';"/> : <%=notice.description%></li>
				<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	function addNoticeToEntry(message) {
		
		var entry_id ='#entry'+notice_entry_id
		$(entry_id+' td:eq(3)').append('['+message+']  ');

	}
</script>