<div class="content">
	<p> Annulation totale de commande </p>
	<select>
		<option value="Motif">Motif d'annulation</option>
		<option>Changer de table</option>
		<option>Départ de client</option>
		<option>Edition de ticket</option>
	</select><BR><BR>
	<textarea rows="4" cols="50">
		Autres raisons Autres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisons
	</textarea>
</div>