<div class="content">
	<p> Annulation totale de commande </p>
	<select>
		<option value="Motif">Motif d'annulation</option>
		<option>Changer de table</option>
		<option>Départ de client</option>
		<option>Edition de ticket</option>
	</select><BR><BR>
	<textarea rows="4" cols="50">
		Autres raisons Autres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisonsAutres raisons
	</textarea>
<!-- 	<ul id="keyboard_notice">
		<li class="symbol">1</li>
		<li class="symbol">2</li>
		<li class="symbol">3</li>
		<li class="symbol">4</li>
		<li class="symbol">5</li>
		<li class="symbol">6</li>
		<li class="symbol">7</li>
		<li class="symbol">8</li>
		<li class="symbol">9</li>
		<li class="symbol">0</li>
		<li class="letter">A</li>
		<li class="letter">B</li>
		<li class="letter">C</li>
		<li class="letter">D</li>
		<li class="letter">E</li>
		<li class="letter">F</li>
		<li class="letter">G</li>
		<li class="letter">H</li>
		<li class="letter">I</li>
		<li class="letter">J</li>
		<li class="letter">K</li>
		<li class="letter">L</li>
		<li class="letter">M</li>
		<li class="letter">N</li>
		<li class="letter">O</li>
		<li class="letter">P</li>
		<li class="letter">Q</li>
		<li class="letter">R</li>
		<li class="letter">S</li>
		<li class="letter">T</li>
		<li class="letter">U</li>
		<li class="letter">V</li>
		<li class="letter">W</li>
		<li class="letter">X</li>
		<li class="letter">Y</li>
		<li class="letter">Z</li>
		<li class="symbol">,</li>
		<li class="delete">Delete</li>
		<li class="enter">Enter</li>
	</ul> -->
</div>