<div class="content">
	<span class="right">N° Commande:  2</span><span class="left">Ticket de caisse: 5</span>​

	<table id='Table_Client_Detail' class='table'>
	<thead>
	<tr>
	<th colspan="4">Identité de société</th>
	</tr>
	<tr>
	<th>Référence</th><th>Article</th><th>Prix TTC</th><th>Taux TVA</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>xxx</td>
	<td>yyy</td>
	<td>1</td>
	<td>1</td>
	</tr>
	<tr>
	<td>xxx</td>
	<td>yyy</td>
	<td>1</td>
	<td>1</td>
	</tr>
	<tr>
	<td>xxx</td>
	<td>yyy</td>
	<td>1</td>
	<td>1</td>
	</tr>
	<tr>
	<th colspan="4">Total TTC</th>
	</tr>
	</tbody>
	</table>
	
	
	<table id='Table_Detail_Vente' class='table'>
	<thead>
	<tr>
	<th colspan="4">Détails Vente</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>xxx</td>
	<td></td>
	<td>1</td>
	<td></td>
	</tr>
	<tr>
	<td>xxx</td>
	<td></td>
	<td>1</td>
	<td></td>
	</tr>
	<tr>
	<td>xxx</td>
	<td></td>
	<td>1</td>
	<td></td>
	</tr>
	</tbody>
	</table>
	
	<p> A votre aimable réglement </p>
</div>