<div class="content">
	<table id='Menus' class='table'>
	<thead>
		<th>Action</th><th>Date</th><th>Contenu</th><th>TTC</th><th>Etat</th>
	</thead>
	<tbody>
		<% @notes.each do |note| %>
			<tr>
				<td>
					<a href="/front/takeaway_detail"><span style="font-size:2em;" class="glyphicon glyphicon-folder-open"/></a>
				</td>
				<td><%=note.updated_at%></td>
				<td><%=note.getMenus.concat(note.getArticles)%></td>
				<td><%=note.value.to_f / 100%></td>
				<td><%=note.state%></td>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>