<div class="content">
	<table id='Menus' class='table'>
	<thead>
		<th>Action</th><th>Date</th><th>Contenu</th><th>TTC</th><th>Etat</th>
	</thead>
	<tbody>
		<%=  %>
			<tr>
				<td>
					<a href="/front/takeaway_detail"><span style="font-size:2em;" class="glyphicon glyphicon-folder-open"/></a>
				</td>
				<td>04/10/2017</td>
				<td>Sushi,Pizza,Soupe</td>
				<td>---</td>
				<td>En cours</td>
			</tr>
		<%  %>
	</tbody>
	</table>
</div>