<div class="content">
	<table id='Menus' class='Menus'>
	<tr>
	<th>Nb</th><th>Date</th><th>Contenu</th><th>TTC</th><th>Etat</th>
	</tr>
	<tr>
	<td>01</td><td>04/10/2017</td><td>Sushi,Pizza,Soupe</td><td>---</td><td>En cours</td>
	</tr>
	<tr>
	<td>02</td><td>04/10/2017</td><td>Dumpling</td><td>21€</td><td>En cours</td>
	</tr>
	</table>
</div>	