<div id="table_detail" class="content">
	<table id='Table_Detail' class='table'>
	<thead>
		<tr>
			<th colspan="2" rowspan="2"><img src="/assets/table1.png" onclick="toggleTableDetail()"></th>
			<th colspan="5">N° Table : <%=@table.table_number.to_s.rjust(2,'0')%></th>
		</tr>
		<tr>
			<th>Code</th>
			<th>Nom</th>
			<th>Prix Unité</th>
			<th>Note</th>
			<th>Etat</th>
		</tr>
	</thead>
	
	<tbody id='table_detail_note'>
		
	</tbody>
	<tfoot>
		<tr>
			<th colspan="7" id="table_note_sum">Somme = 0 €</th>
		</tr>
	</tfoot>
	</table>
	
	<table id='Table_Bottom' class='Table_Bottom'>
		<tr style="height:50px;">
			<td><a href="/front/edition_liste">Edition liste</a></td>
			<td><a href="/front/edition_client">Edition Client</a></td>
			<td><a class="btn" onclick="cashIn()">Encaisser</a></td>
			<td><a href="/front/annulation">Annulation</a></td>
		</tr>
	</table>
</div>

<%= render "table_book" %>

<script >
$(document).ready(function() {
	var tableNote = {};
	var tableKeys = Object.keys(tableNote);
	tableKeys.forEach(function(element) {
		// console.log(tableNote[element]);
	});
});

function toggleTableDetail() {
	if ($("#table_detail").is(":visible")) {
		$("#table_detail").hide();
		$("#table_book").show();
	} else {
		$("#table_detail").show();
		$("#table_book").hide();
	}
}
function duplicateLineNote(e) {
	var thisLine = $(e).parent().parent();
	$("#table_detail_note").append(thisLine.clone());
	updateSum();
}
function removeLineNote(e) {
	$(e).parent().parent().remove();
	updateSum();
}
function updateSum() {
	var sum = 0;
	$(".table_note_price").each(function(i,obj) {
		sum += parseFloat($(obj).text());
	});
	$("#table_note_sum").text("Somme = "+sum+" €");
}

</script>