<div class="content">
	<table id='Table_Menu_Image' class='table'>
		<tr>
		<td><img id='image' src="/assets/fourchette.png"></td><td><img id='image' src="/assets/couvert.png"></td><td><img id='image' src="/assets/cloche.png"></td><td><img id='image' src="/assets/boisson.png"></td><td><img id='image' src="/assets/dessert.png"></td>
		</tr>
	</table>
	<table id='Table_Menu' class="half">
		<tbody>
		<tr>
			<td>Menu 1</td>
		</tr>
		<tr>
			<td>Menu 2</td>
		</tr>
		<tr>
			<td>Menu 3</td>
		</tr>
		</tbody>
	</table>
	<table id='Table_xxxx' class="half">
		<tr>
			<td>Entree</td><td>Plat</td>
		</tr>
		<tr>
			<td>Dessert</td><td>Boisson</td>
		</tr>
		<tr>
			<td>Autres</td><td>Autres</td>
		</tr>
	</table>
	<table id='Table_Selection' class="half">
		<tbody>
		<tr>
			<td>Détail Sélection</td>
		</tr>
		<tr>
			
		</tr>
		<tr>
			
		</tr>
		</tbody>
	</table>
	<table id='Table_Entree' class="half">
		<tr>
			<td>Entree 1</td><td>Entree 2</td>
		</tr>
		<tr>
			<td>Entree 3</td><td>Entree 4</td>
		</tr>
		<tr>
			<td>Entree 5</td><td>Entree 6</td>
		</tr>
	</table>
</div>