
<div id="takeaway_detail" class="content">
	<table id='Table_Detail' class='table'>
	<thead>
		<tr>
		<th colspan="2" rowspan="2"><img src="/assets/ecommerce.png" onclick="toggleTakeawayDetail()"></th>
		<th colspan="5">N° Emporter :</th>
		</tr>
		<tr>
		<th>Code</th><th>Description</th><th>Prix Unité</th><th>Note</th><th>Etat</th>
		</tr>
	</thead>
	
	<tbody>
		<%=  %>
		<tr>
			<td>
				<button type="button" class="add btn btn-default btn-lg">1</button>
			</td>
			<td>
				<button type="button" class="del btn btn-default btn-lg"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			</td>
			<td>1</td>
			<td>Sushi</td>
			<td>3.00€</td>
			<td></td>
			<td></td>
		</tr>
		<%  %>
	</tbody>
	<tfoot>
		<tr>
		<th colspan="7">SUM=554415</th>
		</tr>
	</tfoot>
	</table>
	
	<table id='Table_Bottom' class='Table_Bottom'>
	<tr>
	<td><a href="/front/edition_liste">Edition liste</a></td><td><a href="/front/edition_client">Edition Client</a></td><td><a href="/front/encaisser">Encaisser</a></td><td><a href="/front/annulation">Annulation</a></td>
	</tr>
	</table>
</div>

<%= render "takeaway_book" %>

<script >
function toggleTakeawayDetail() {
	if ($("#takeaway_detail").is(":visible")) {
		$("#takeaway_detail").hide();
		$("#takeaway_book").show();
	} else {
		$("#takeaway_detail").show();
		$("#takeaway_book").hide();
	}
}
$('.add').on('click', function(){
  var count = $(this).text();
  count++;
  $(this).text(count);
});
$('.del').on('click', function(){
  var count = $(this).parent().parent().find('td:eq(0)').text();
  if (count > 1){ 
	count--; 
	$(this).parent().parent().find('td:eq(0)').children().text(count);
  } else{
	$(this).parent().parent().remove();
  }
});
</script>