<div id="takeaway_detail" class="content">
	<table id='Table_Detail' class='table'>
	<thead>
		<tr>
			<th colspan="2" rowspan="2"><img src="/assets/ecommerce.png" onclick="toggleTakeawayDetail()"></th>
			<th colspan="5"><%=@table.table_number.to_s.rjust(2,'0')%></th>
		</tr>
		<tr>
			<th>Code</th>
			<th>Nom</th>
			<th>Prix Unité</th>
			<th>Note</th>
			<th>Etat</th>
		</tr>
	</thead>
	
	<tbody id='takeaway_detail_note'>
		
	</tbody>
	<tfoot>
		<tr>
			<th colspan="7" id="takeaway_note_sum">Somme = 0 €</th>
		</tr>
	</tfoot>
	</table>
	
	<table id='Table_Bottom' class='Table_Bottom'>
		<tr style="height:50px;">
			<td><a href="/front/edition_liste">Edition liste</a></td>
			<td><a href="/front/edition_client">Edition Client</a></td>
			<td><a class="btn" onclick="cashIn()">Encaisser</a></td>
			<td><a href="/front/annulation">Annulation</a></td>
		</tr>
	</table>
</div>

<%= render "takeaway_book" %>

<script >
$(document).ready(function() {
	// var tableNote = {};
	// var tableKeys = Object.keys(tableNote);
	// tableKeys.forEach(function(element) {
	// });
});

function toggleTakeawayDetail() {
	if ($("#takeaway_detail").is(":visible")) {
		$("#takeaway_detail").hide();
		$("#takeaway_book").show();
	} else {
		$("#takeaway_detail").show();
		$("#takeaway_book").hide();
	}
}
function duplicateLineNote(e) {
	var thisLine = $(e).parent().parent();
	$("#takeaway_detail_note").append(thisLine.clone());
	updateSum();
}
function removeLineNote(e) {
	$(e).parent().parent().remove();
	updateSum();
}
function updateSum() {
	var sum = 0;
	$(".table_note_price").each(function(i,obj) {
		sum += parseFloat($(obj).text());
	});
	$("#takeaway_note_sum").text("Somme = "+sum+" €");
}
function cashIn() {
	var tableNote = {
		"table_id"	: "<%=@table.id%>",
		"articles"	: ($(".table_note_code").map(function(){return $(this).text();}).get()).join(";")
	};
	if (tableNote['articles'] != ""){
		$.ajax({
			async: false,
			url: "/front/notes/create",
			type: "POST",
			data: tableNote,
			dataType: "json",
			success : function(data) {
				if (data["success"]){
					window.location.href = "/front/encaisser/"+data["note_id"];
				}
			}
		});
	}
}

</script>