 /*
 Les couleurs :
 Violet groupe : #581D74
 Bleu filiere : 0087c0 / 006e97
 Gris : #E9E9E9
 */


.content {
	height: 400px; 
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	position: relative;
}

}

#Table_Detail {
	border: 0 none;
	height: auto;
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

#Table_Detail th, td {
	overflow: hidden;
	margin: 0;
}

#Table_Detail td {
	border: 1px solid #ccc;
    /* padding: 2px 4px; */
}


#Table_Detail th {
    /* background-color: #003399; */
    border: 1px solid #ccc;
    /* color: #ffffff; */
    font-weight: bold;
    /* padding: 2px 4px; */
    text-align: center;
}
